@{
    ViewBag.Title="TchApp 测试";
}
<a href="javascript:Tch.CloseWindow()">关闭窗口</a>
<a href="javascript:Tch.MaximizingWindow()">最大化窗口</a>
<a href="javascript:Tch.MinimizeWindow()">最小化窗口</a>
<a href="javascript:Tch.RestoreWindow()">恢复窗口</a>
<a href="javascript:Tch.HideWindow()">隐藏窗口</a>
<a href="javascript:Tch.ShowWindow()">显示窗口</a>
<a href="doraemon.html">哆啦A梦</a>
<a href="doraemon.html" target="_blank">弹出哆啦A梦</a>
<a href="index.html" target="_blank">弹出Index</a>
<h1>你好 TchApp</h1>