<html>
<head>
    <title>cshtml test</title>
</head>
<body>
    <h1>hi cshtml</h1>
    @{		
        for (int i = 0; i < 26; ++i)
        {
            <h1>hi @i.ToString()</h1>

        }
    }
</body>
</html>